.marquee-container {
  display: flex;
  align-self: center;
  margin-left: 15px;
  width: 80vw;
}
/* 
.play {
  width: 50px;
  height: 50px;
  background-color: black;
} */

@media (max-width: 649px) {
  .marquee-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
