.App {
  text-align: center;
  font-family: "FugueRegular";
}

@font-face {
  font-family: "FugueRegular";
  src: url("./utils/fonts/Fugue-Regular.ttf");
}

@font-face {
  font-family: "GT-Super-Display-Light";
  src: url("./utils/fonts/GT-Super-Display-Light.ttf");
}

:root {
  --main-button-size: 0.8em;
  --main-button-half-size: calc(var(--main-button-size) / 1.7);
}

body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit-done {
  display: none;
  opacity: 0;
}

/* .fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
} */
