.records-page {
  background: linear-gradient(to left, white 85%, yellow);
  display: grid;
  grid-template-rows: 1fr 16fr 1fr;
  padding: 15px;
  height: calc(100vh - 30px);
}

.records-page--container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.records-page--mobile-sublinks {
  display: none;
}

.records-page--mobile-sublink {
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.records-page--title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "title-text nothing";
}

.records-page--title__text {
  transform: rotate(90deg);
  transform: translateX(-100px) rotate(90deg);

  justify-content: right;
  font-size: 3rem;
  align-self: center;

  grid-area: title-text;
}

.records-page--carousel {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.records-page--artist__title {
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  font-weight: bold;
}

.records-page--artist__image {
  width: 100%;
}

.records-page--sublinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.records-page--sublinks__link {
  display: contents;
}

.sublink {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}

@media (max-width: 800px) {
  .records-page--container {
    grid-template-columns: 1fr 8fr;
  }

  .records-page--title__text {
    transform: translateX(-65px) rotate(90deg);
    justify-content: right;
    font-size: 2rem;
  }
  .records-page--title {
    display: grid;
    height: 80vh;
    width: 10vw;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "title-text nothing";
  }

  .records-page--sublinks {
    display: none;
  }

  .records-page--main {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 4fr;
  }

  .records-page--mobile-sublinks {
    display: flex;
    justify-content: center;
    top: 0;
    position: absolute;
    width: calc(100vw - 150px);
    margin-top: 15px;
    margin-left: 97px;
  }
}
