.records-page {
  background: linear-gradient(to left, white 85%, yellow);
  display: grid;
  grid-template-rows: 1fr 16fr 1fr;
  padding: 15px;
  height: calc(100vh - 30px);
}

.records-page--container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.records-page--title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "title-text nothing";
}

.records-page--title__text {
  transform: rotate(90deg);
  transform: translateX(-100px) rotate(90deg);

  justify-content: right;
  font-size: 3rem;
  align-self: center;

  grid-area: title-text;
}

.records-page--carousel {
  text-align: left;
}

.records-page--artist__title {
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  font-weight: bold;
}

.records-page--artist__image {
  width: 100%;
}

.records-page--sublinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.records-page--sublinks__link {
  display: contents;
}

.sublink {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}
