.records-page--artist__title {
}

.records-page--artist__image {
  height: 80vh;
}

.artist--name {
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  font-weight: bold;
}

.artist--card {
  margin: 15px;
}
