a {
  text-decoration: none;
  color: white;
}
.releases--container {
  /* display: grid;
  grid-template-columns: 1fr 5fr; */
  justify-content: center;
  align-items: center;
}

.releases--sublinks :hover {
  cursor: pointer;
}

.releases--sublinks{
  display: flex;
  color:black;
  justify-content: space-around;

}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-enter {
  display: none;
  opacity: 0;
  z-index: 1;
  transform: translate(5em, 0);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(-5em, 0);
  /* transition: opacity 300ms linear; */
  /* transition: display 200ms linear; */
  transition: transform 200ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit-done {
  display: none;
  opacity: 0;
}

@media (max-width: 800px) {
  .release--image {
    width: 65vw;
  }
}
