a {
  text-decoration: none;

}
.releases--container {

  justify-content: center;
  align-items: center;
}

.release--image {
  width: 300px;
  height: 300px;
}

.releases--grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.releases--sublinks :hover {
  cursor: pointer;
}

.releases--sublinks{
  display: flex;

  justify-content: space-around;
  margin-bottom: 20px;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-enter {
  display: none;
  opacity: 0;
  z-index: 1;
  transform: translate(5em, 0);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(-5em, 0);
  /* transition: opacity 300ms linear; */
  /* transition: display 200ms linear; */
  transition: transform 200ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit-done {
  display: none;
  opacity: 0;
}

@media (max-width: 800px) {


  .releases--grid{
    display: grid;
    grid-template-columns: 1fr;
  }
}
