.release--card {
  color: white;
display: grid;
grid-template-columns: 1fr 2fr;
}

.release--image {
  margin-top: 20px;

  max-height: 55vh;
}

.releases--title {
  margin-top: 15px;
  font-size: 1.5rem;
}

.release--title {
  font-size: 1.5rem;
  font-family: "GT-Super-Display-Light";
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
}

.release--text-container{
  padding: 20px 30px;
  font-size:1.15rem;
  white-space: pre-wrap;
  text-align: justify;
}

.release--links {
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  font-size: 1.25rem;
}

.release--buy-link,
.release--listen-link {
  padding: 10px;
}

@media (max-width: 800px) {
  .release--image {
    width: 20vw;
  }
}


@media (max-width: 1199px) {
  .release--card {
    color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  }
}
