.homepage {
  height: 100%;
  padding: 15px;
}

.homepage--container {
  display: flex;
  height: 88vh;
  justify-content: center;
  align-items: center;
}

.homepage--orphan {
  font-size: 10rem;
  font-family: "FugueRegular";
}
