.retail-page {
  /* background: linear-gradient(to left, white 85%, yellow); */
  display: grid;
  grid-template-rows: 1fr 16fr;
  /* padding: 15px; */
  height: calc(100vh - 30px);
  height: calc((var(--vh, 1vh) * 100) - 30px);
}

.retail-page--mobile-sublinks {
  display: none;
}

.retail-page--mobile-sublink {
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.retail--price {
  color: white;
}

.retail-page--main {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 4fr 1fr;
}

.retail-page--title {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "title-text nothing";
}

.retail-page--title__text {
  transform: rotate(90deg);
  transform: translateX(-65px) rotate(90deg);
  padding: 15px;
  justify-content: right;
  font-size: 3rem;
  align-self: center;
  z-index: 3;
  grid-area: title-text;
}

.retail-page--sublinks {
  height: 85vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.retail-page--sublinks__link {
  display: contents;
  text-decoration: none;
  color: white;
}

.retail-page--carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.retail--image {
  max-width: 100%;
}

.retail--price {
  font-size: 2rem;
}

.retail--price:hover {
  color: red;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

@media (max-width: 800px) {
  .retail-page--title__text {
    transform: translateX(-30px) rotate(90deg);
    justify-content: right;
    font-size: 1.5rem;
  }

  .retail-page--sublinks {
    display: none;
  }

  .retail-page--main {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 4fr;
  }

  .retail-page--mobile-sublinks {
    display: flex;
    justify-content: center;
    top: 0;
    position: absolute;
    width: calc(100vw - 150px);
    margin-top: 15px;
    margin-left: 97px;
  }
}
