.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 15px 15px 0px 15px; */
  height: 5vh;
  font-size: 1.55rem;
}

.navbar--brand {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
}

.navbar--panel {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
}

.active {
  display: none;
}
