.homepage {
  display: grid;
  grid-template-rows: 1fr 16fr 1fr;
  padding: 15px;
  height: calc(100vh - 30px);
}

.homepage--container {
  display: flex;
  height: 88vh;
  justify-content: center;
  align-items: center;
}

.homepage--orphan {
  font-size: 12rem;
  font-family: "FugueRegular";
}

@media (max-width: 649px) {
  .homepage--orphan {
    font-size: 5rem;
  }
}
