.schedule--timezone {
  display: flex;
  font-size: 1.5rem;
}

.schedule--timezone__container {
  margin: 0px 20px;
}

.schedule--timezone__title {
  margin-right: 15px;
}

.schedule--day {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* overflow: hidden; */
}

.schedule-header {
  margin-left: 10px;
  margin-right: 20px;
}

.schedule-subcontainer {
  padding: 20px;
  background-color: white;
}

.schedule-divider {
  height: 4px;
  width: 100%;
  background-color: var(--altblue);
}

.days-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 19px;
}

.days-header-item {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  /* margin: 5px 5px 5px 5px; */
}

.days-header-item:hover {
  background-color: var(--altblue);
  color: grey;
}

.days-header-0 {
  background-color: var(--altblue);
  color: grey;
}

.show-schedule {
  /* background-color: rgba(0, 145, 138, 0.1); */
  padding: 10px 10px 0px 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 58vh;
}

.show-schedule::-webkit-scrollbar {
  width: 0.3em;
}

.show-schedule::-webkit-scrollbar-track {
  background: white;
}

.show-schedule::-webkit-scrollbar-thumb {
  background: grey;
}

.show-schedule::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.show-listing {
  margin-bottom: 10px;
}

.show-name {
  font-size: 20px;
  padding-bottom: 10px;
}

.show-time {
  width: 140px;
}

@media only screen and (max-width: 1150px) {
}

@media only screen and (max-width: 800px) {
  .show-name {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .show-schedule {
    margin-top: 20px;
  }
  .schedule-container {
    width: 85vw;
    margin: 0px 10px 0px 10px;
  }

  .show-time {
    width: 120px;
    font-size: 14px;
  }
  .days-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 19px;
  }

  @media only screen and (max-width: 320px) {
    .show-name {
      font-size: 14px;
      padding-bottom: 10px;
    }

    .show-time {
      width: 100px;
      font-size: 12px;
    }
  }
}
