.radio-page {
  background: linear-gradient(to left, white 88%, blue);
  display: grid;
  grid-template-rows: 1fr 16fr 1fr;
  padding: 15px;
  height: calc(100vh - 30px);
}

.radio-page--main {
  display: grid;

  grid-template-columns: 1fr 4fr 1fr;
}

.radio-page--title {
  display: flex;
  justify-content: flex-start;
}

.radio-page--title__text {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  font-size: 3rem;
  align-self: center;
  height: 50px;
}

.radio-page--sublinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.radio-page--sublinks__link {
  display: contents;
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}
