.logo-canvas {
  /* width: 100vw; */
  /* position: absolute; */
  /* height: 100vh; */
  /* height: 250px; */
  height: 30vh;
  /* width: 250px; */
  /* height: calc(1vh * 100);
    height: 100%; */
  /* top: 0px; */
  /* left: 0px; */
  color: white;
  opacity: 1;
  z-index: -1;
}

@media (max-width: 650px) {
  .logo-canvas {
    display: flex;
    align-items: flex-start;
    width: 100%;

    height: 100%;
  }
}
