.admin--actions__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.admin--actions__form {
}

.admin--card {
  margin: 25px;
}

@media (max-width: 800px) {
  .admin--actions__grid {
    grid-template-columns: 1fr;
  }
}
