.resident--name {
  margin: 10px 0px;
  font-size: 2rem;
  font-family: "GT-Super-Display-Light";
  font-weight: bold;
}

.resident--card {
  text-align: initial;
  display: inline-block;
}

.resident--grid {
  display: grid;
  grid-auto-columns: 1fr 2fr;
  grid-template-areas: "left right";
}

.resident--card__left {
  grid-area: left;
}

.resident--card__right {
  grid-area: right;
  padding: 0px 15px;
}

.records-page--residents {
  padding-right: 15px;
  height: 80vh;
  overflow-y: auto;
}

.records-page--residents::-webkit-scrollbar {
  width: 0.2em;
}

.records-page--residents::-webkit-scrollbar-track {
  background: grey;
}

.records-page--residents::-webkit-scrollbar-thumb {
  background: white;
}

.records-page--residents::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media (max-width: 800px) {
  .resident--grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left" "right";
  }
  .resident--card__right {
    padding: 15px 0px;
  }
}

@media (min-width: 1200px) {
  .resident--bio {
    font-size: 1.25rem;
  }
}
