.presents-page {
  background: linear-gradient(to left, white 88%, red);
  height: 100%;
  padding: 15px;
}

.presents-page--main {
  display: grid;
  height: 88vh;
  grid-template-columns: 1fr 4fr 1fr;
}

.presents-page--title {
  display: flex;
  justify-content: flex-start;
}

.presents-page--title__text {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  font-size: 3rem;
  align-self: center;
  height: 50px;
}

.presents-page--sublinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.presents-page--sublinks__link {
  display: contents;
}

.sublink {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}
