.radio-page {
  background: linear-gradient(to left, white 88%, blue);
  display: grid;
  grid-template-rows: 1fr 16fr;
  padding: 15px;
  height: calc(100vh - 30px);
}

.radio-page--mobile-sublinks {
  display: none;
}

.radio-page--mobile-sublink {
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.radio-page--main {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 4fr 1fr;
}

.radio-page--title {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "title-text nothing";
}

.radio-page--title__text {
  transform: rotate(90deg);
  transform: translateX(-61px) rotate(90deg);

  justify-content: right;
  font-size: 3rem;
  align-self: center;

  grid-area: title-text;
}

.radio-page--sublinks {
  height: 85vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.radio-page--sublinks__link {
  display: contents;
  text-decoration: none;
  color: black;
}

.radio-page--carousel {
}

.active {
  font-weight: bold;
}

@media (max-width: 800px) {
  .radio-page--title__text {
    transform: translateX(-30px) rotate(90deg);
    justify-content: right;
    font-size: 1.5rem;
  }

  .radio-page--title {
    display: grid;
    height: 80vh;
    width: 10vw;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "title-text nothing";
  }

  .radio-page--sublinks {
    display: none;
  }

  .radio-page--main {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 4fr;
  }

  .radio-page--mobile-sublinks {
    display: flex;
    justify-content: center;
    top: 0;
    position: absolute;
    width: calc(100vw - 150px);
    margin-top: 15px;
    margin-left: 97px;
  }
}
