.radio-page {
  background: linear-gradient(to left, white 88%, blue);
  display: grid;
  grid-template-rows: 1fr 16fr 1fr;
  padding: 15px;
  height: calc(100vh - 30px);
}

.radio-page--main {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 4fr 1fr;
}

.radio-page--title {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "title-text nothing";
}

.radio-page--title__text {
  transform: rotate(90deg);
  transform: translateX(-61px) rotate(90deg);

  justify-content: right;
  font-size: 3rem;
  align-self: center;

  grid-area: title-text;
}

.radio-page--sublinks {
  height: 85vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-family: "GT-Super-Display-Light";
  text-align: right;
}

.radio-page--sublinks__link {
  display: contents;
  text-decoration: none;
  color: black;
}

.radio-page--carousel {
}

.active {
  font-weight: bold;
}

.radio-page--carousel::-webkit-scrollbar {
  width: 0.2em;
}

.radio-page--carousel::-webkit-scrollbar-track {
  background: white;
}

.radio-page--carousel::-webkit-scrollbar-thumb {
  background: black;
}

.radio-page--carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 649px) {
  .radio-page--title__text {
    transform: translateX(-40px) rotate(90deg);
    justify-content: right;
    font-size: 2rem;
  }
  .radio-page--sublinks {
    font-size: 2rem;
  }
}
