.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 15px 15px 15px;

  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: calc(100vw - 30px);
}

.footer--stream {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer--stream__marquee {
  display: flex;
}

.footer--stream__container {
  display: flex;
}

.footer--donate {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-circle-container {
  display: flex;
  align-self: center;
}

.footer--stream__circle {
  background: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 15px;
  animation: fader 3s infinite;
  animation-timing-function: ease-out;
  /* animation-duration: 2000ms;
  animation-fill-mode: forwards; */
}

@keyframes fader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
