.navMenu {
  position: absolute;
  overflow-y: hidden;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 15vw;
  min-width: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "list" "image";
  background: black;
  opacity: 1;

  color: white;
  /* transition: height 0.3s ease; */
  /* -webkit-transition: width 1s ease;
  transition: width 1s ease; */
  z-index: 2;
}



.navMenu--hidden {
  width: 0vw;
}

.navMenu--list {
  grid-area: list;
  text-align: right;
  padding: 15px;
  /* height: 70vh; */
}

.navMenu--link {
  font-size: 2.55rem;
  font-family: "FugueRegular";
  color: white;
  transition: "color 0.2s ease-in-out";
  animation: "0.5s slideIn forwards";
  animation-delay: 0.2s;
  text-decoration: none;
}
.navMenu--link__top{
  font-size: 3rem;
}
/* .navMenu--link:hover {
  color: gray;
} */

.link-records:hover{
  color: #00559D;
}

.link-roster:hover{
  color: red;
}

.link-retail:hover{
  color: yellow;
}


.navMenu--image-container {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30vh; */
}

.navMenu--releaseLinks-container{
  text-align: right;
  padding: 15px;
}

.orphanLogo {
  /* width: 100%; */
  height: 30vh;
  margin: 15px;
}

hr {
  color: white;
  animation: "0.5s shrink forwards";
  animation-delay: 0.2;
}

.fab {
  color: white;
}

.social{
  font-size: 28px;
}

.social :hover{
  color: gray;
}

.social-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 800px) {
  .navMenu {
    position: absolute;
    overflow-y: hidden;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "list" "image";
    background: black;
    opacity: 1;

    color: white;
    transition: height 0.3s ease;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .navMenu {
    position: absolute;
    overflow-y: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 60vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "list" "image";
    background: black;
    opacity: 1;

    color: white;
    transition: height 0.3s ease;
    z-index: 2;
  }

  .orphanLogo {
    /* width: 100%; */
    height: 2vh;
  }
}
